@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap');
@font-face {font-family:"MADETommySoft";
	src:url("../fonts/MADETommySoft/MADE_Tommy_Soft_Regular_PERSONAL_USE.eot?") format("eot"),
	url("../fonts/MADETommySoft/MADE_Tommy_Soft_Regular_PERSONAL_USE.woff") format("woff"),
	url("../fonts/MADETommySoft/MADE_Tommy_Soft_Regular_PERSONAL_USE.ttf") format("truetype"),
	url("../fonts/MADETommySoft/MADE_Tommy_Soft_Regular_PERSONAL_USE.svg#MADETommySoft") format("svg");
	font-weight:normal;font-style:normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.wrapper{
	position:relative;
	@media(max-width:1300px){
		padding:0 20px 0;
	}
}
.tribute {
	max-width:500px;
	margin: 0 auto;
	z-index:6;
	.tribute__link {
		text-align: center;
		color:#fff;
		font-size: 40px;
		line-height: 50px;
		@media(max-width:500px){
			font-size: 25px;
			line-height: 30px;
		}
	}
}

html{
	font-family:'Montserrat';
	overflow:hidden;
}
.background__filter{
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(#15306f,0.55);
	z-index:-2;
}
body{
	display:flex;
	flex-direction:column;
	overflow:hidden;
	background: rgb(105,153,128);
	background: linear-gradient(149deg, rgba(105,153,128,1) 0%, rgba(127,77,152,1) 38%, rgba(121,59,159,1) 72%, rgba(29,84,150,1) 100%) no-repeat;
}
a{
	transition:all 0.3s ease 0s;
}
a:hover{
	color:#f10080;
	transition:all 0.3s ease 0s;
}
.wrapper{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%;
}
.bg{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
.background__man {
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	top:30%;
	left: 0;
	right: 0;
	text-align: center;
	img {
		max-width:800px;
		height:auto ;
	}
	z-index:-1;
	@media(max-height:850px){
		img{
			max-width:600px;
		}
		@media (max-width:768px) {

			img{
				top:35%;
				max-width:500px;
			}
		}
	}
	
}
.background__vector{
	position:absolute;
	top:0;
	left:0;
	img{
		width:1900px;
	}
	z-index:-2;
}
.container{
	max-width:1300px;
	margin: 0 auto;
}

//header//
.header {
	flex:0 auto;
	padding: 87px 0 0 0;
	@media(max-width:1100px){
		padding: 30px 0 0 0;
	}
}
.header__body {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header__logo {
	img{
		width:100px;
	}
}
.header__burger {}
.header__menu {}
.header__list {
	display:flex;
	li{
		margin:0 0 0 30px;
	}
	li:first-child{
		margin:0;
	}
}
.header__link {
	color:#fff;
	font-size: 25px;
	line-height: 30px;
	font-family: 'MADETommySoft';
}
@media (max-width:768px) {
	
	.header__burger{
		display:block;
		position:relative;
		width: 30px;
		height:24px;
		z-index:2;
	}
	.header__burger:before,
	.header__burger:after{
		content:'';
		position:absolute;
		width:100%;
		height:4px;
		left:0;
		background: #fff;
		transition: all 0.3s ease 0s;
	}
	.header__burger:after{bottom:0;}
	.header__burger:before{top:0;}
	.header__burger span{
		position:absolute;
		left:0;
		width:100%;
		top:10px;
		background: #fff;
		height:4px;
	}
	.header__menu{
		position: absolute;
		top:-100%;
		left:0;
		width:100%;
		height:100%;
		background:#2f3c7e;
		padding: 57px 30px 0 20px;
		transition:all 0.3s ease 0s;
		z-index:1;
	}
	.header__burger.active:before{
		top:10px;
		background: #f10080;
		transform:rotate(45deg);
		transition: all 0.3s ease 0s;
	}
	.header__burger.active:after{
		bottom:10px;
		transform:rotate(-45deg);
		background: #f10080;
		transition: all 0.3s ease 0s;
	}
	.header__burger.active{
		span{
			display:none;
		}
	}
	.header__menu.active{
		top:0;
	}
	.header__list{
		display:block;
		li{
			margin:0;
			padding: 20px 0 0 0;
			a{
				font-size: 30px;
			}
		}
		li:first-child{
			padding:0;
		}
	}
}
//mainblock
.content{
	flex:1 0 auto;
}
.mainblock {
	margin:100px 0 0 0;
}
.mainblock__body {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.mainblock__main {
	max-width:500px;
	text-transform:uppercase;
	color:#fff;
	font-weight: 900;
}
.mainblock__subtitle {
	font-size: 34px;
	line-height: 40px;
}
.mainblock__title {
	font-size: 70px;
	width:500px;
}
.mainblock__buy {
	position:relative;
	font-size: 24px;
	color:#fff;
	line-height: 24px;
	img{
		position: absolute;
		top:5px;
		margin: 0 0 0 10px ;
		width:20px;
	}
	z-index:0;
}
.mainblock__text-body {
	text-align:right;
	max-width:400px;
	color:#fff;
}
.mainblock__text-title {
	text-transform: uppercase;
	font-size: 34px;
	line-height: 40px;
	font-weight: 600;
}
.mainblock__text-text {
	margin:0  0 0 41.5px;
	width:230px;
	font-size: 20px;
	line-height: 22px;
	font-family: 'roboto';
}
//footer

.footer {
	flex:0 0 auto;
	height:45px;
}
.footer__body {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.footer__list {
	display:flex;
	li{
		margin:0 0 0 10px;
	}
	li:first-child{
		margin:0;
	}
}
.footer__link{
	font-size: 34px;
	color:#fff;
	font-weight: 800;	
	line-height: 35px;
}
.footer__media {
	img{
		width:33px;
	}
}
@media(max-width:600px){
	.footer__link{
		font-size: 20px;
	}
	.footer__media{
		img{
			width:18px;
		}
	}
}

@media (max-width:768px){
	.mainblock{
		margin:40px 0 0 0;
		text-align: center;
	}
	.mainblock__title{
		margin:0 0 0 -48px;
	}
	.mainblock__body{
		display:block;
		max-width:400px;
		margin:0 auto;
	}
	.mainblock__text-body{
		margin: 40px auto 0;
		text-align: center;
		.mainblock__text-text{
			width:400px;
			text-align: center;
			margin:0;
		}
	}
}
@media(max-width:500px){
	.mainblock{
		&__subtitle{
			font-size: 28px;
		}
		&__title{
			font-size: 50px;
			max-width:400px;
			margin:0;
		}
		&__buy{
			font-size: 20px;
			img{
				top:2px;
				width:18px;
			}
		}
	}
	.mainblock__text-body{
		width:100%;
		text-align: center;
		margin:40px auto 0;
	}
	.mainblock__text{
		&-title{
			font-size: 28px;
			line-height: 33px;
		}
		&-text{
			margin:0;
		}
	}
}
@media(max-width:440px){
	.mainblock{
		width:300px;
		margin: 40px auto;
		&__subtitle{
			font-size: 20px;
			width:300px;
		}
		&__title{
			font-size: 40px;
			max-width:400px;
			margin:0;
			width:300px;
		}
		&__buy{
			font-size: 20px;
			img{
				top:2px;
				width:18px;
			}
		}
	}
	.mainblock__text-body{
		width:300px;
		width:100%;
		text-align: center;
		margin:40px auto 0;
		.mainblock__text{
			&-title{
				font-size: 20px;
				line-height: 33px;
			}
			&-text{
				font-size: 16px;
				width:300px;
			}
		}
	}
	.footer{
		.footer__link{
			font-size: 16px;
		}

	}
}